
<!--  _ds.section.navigation.njk -->

<div class="container mx-auto">
  <ul>
    <li>
      <a href="/"  class="text-primary-base underline">Index</a>
    </li>
    <li>
      <a href="/example-page.html" class="text-primary-base underline">Example page</a>
    </li>
    <li>
      <a href="/examples-button.html" class="text-primary-base underline">Button</a>
    </li>
    <li>
      <a href="/examples-checkboxes.html" class="text-primary-base underline">Checkboxes</a>
    </li>
    <li>
      <a href="/examples-select.html" class="text-primary-base underline">Select</a>
    </li>
  </ul>
</div>
