{% include "_global.head.njk" %}
<body>
  {% from "components/header/_macro.header.njk" import componentHeader %}
  {% call componentHeader({
    classes: "relative z-40",
    dropdown: {
      isMenu: true,
      text: "Ejemplos",
      items: [
      {
        href: "/examples-test-component.html",
        text: "Test component"
      },
      {
        href: "/examples-test-component-caller.html",
        text: "Test component caller"
      }],
      attributes: {
        "aria-label": "Navegación ejemplos"
      }
    },
    navigation: {
      classes: "hidden md:block",
      items: [
      {
        text: "Intro",
        href: "index.html"
      },
      {
        text: "Componentes",
        href: "componentes.html"
      },
      {
        text: "Páginas",
        href: "paginas.html"
      }],
      attributes: {
        "aria-label": "Navegación principal"
      }
    },
    offcanvas: {
      text: "Menú",
      textClose: "Cerrar menú"
    }
  }) %}
  <ul>
    <li>
      <h3 class="p-base text-base font-bold">Páginas</h3>
        {% from "components/nav/_macro.nav.njk" import componentNav %}
        {{ componentNav({
          items: [
          {
            text: "Intro",
            href: "index.html"
          },
          {
            text: "Componentes",
            href: "componentes.html"
          },
          {
            text: "Páginas",
            href: "paginas.html"
          }],
          attributes: {
            "aria-label": "Navegación principal"
          }
        }) }}
    </li>
    <li class="my-sm border-neutral-light border-0 border-t"><span class="sr-only">separador</span></li>
    <li>
      <h3 class="p-base text-base font-bold">Todos los componentes</h3>
      {{ componentNav({
        items: [
        {
          href: "/examples-test-component.html",
          text: "Test component"
        },
        {
          href: "/examples-test-component-caller.html",
          text: "Test component caller"
        }],
        attributes: {
          "aria-label": "Navegación ejemplos"
        }
      }) }}
    </li>
  </ul>
  {% endcall %}
  <main id="content" class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="pb-xl"></div>
    {% block contentBlock %}
    {% endblock %}
    {% from "_macro.example-render.njk" import exampleRender %}
    {{ exampleRender({
    	data: exampleData
    }) }}
  </main>
{% include "_global.foot.njk" %}
