{% extends "_template.default.njk" %}
{% block contentBlock %}

<div class="c-text">
<div class="pb-lg"></div>
  <h1>Intro</h1>
  <p>Desy Seda contains the code you need to start building a user interface for Gobierno de Aragón SEDA webapp.</p>

  <h2>How to set up?</h2>
  <ul>
    <li>Run <code>npm install</code> first.</li>
    <li>Use <code>npm run dev</code> to generate CSS from <code>src/styles.css</code> to <code>/build/styles.css</code>,  listen to changes in njk, css and html, and browser-sync reload.</li>
    <li>Use <code>npm run prod</code> to generate CSS and Purge it and Minify it.</li>
    <li>Dependencies: Node.js v12.18.3, Tailwind CSS, AutoPrefixer, PurgeCSS and CSSnano configed in PostCSS</li>
  </ul>

  <h2>Contact the team</h2>
  <p>Desy Frontend is maintained by a team at Servicios Digitales de Aragón (Spain). If you want to know more about Desy Frontend, please email any of the commiters.</p>

  <h2>License</h2>
  <p>Unless stated otherwise, the codebase is released under the MIT License. This covers both the codebase and any sample code in the documentation.</p>
</div>

{% endblock %}