{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Páginas</div>
  <div class="pb-lg"></div>
  {% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
  {{ componentMenuVertical({
    "items": [
      {
        href: "templates/pages/test-template.html",
        text: "Test template"
      }
    ]
  })  }}
  <div class="pb-2xl"></div>
{% endblock %}